[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_API_KEY = "AIzaSyCcv6EgVdB7C3K-2gc-jUicyyHMTs9jEKE"